<h2>Update Movies</h2>
 <a href="/movies/{{this._id}}/edit"> Edit Movie </a> 

{{!-- <form method="post" action="/movies/{{foundMovies._id}}/edit">
  <label> Title </label>
  <input  name="title"  value="{{foundMovies.title}}" />
  <label> Genre </label>
  <input name="genre" value="{{foundMovies.genre}}" />
  <label> Plot </label>
  <input name="plot" value="{{foundMovies.plot}}"  />
  <label> Cast </label>
  <input name="cast" value="{{foundMovies.cast}}"  />
  
  <button type="submit"> Edit  </button> --}}

  <form method="post" action="/movies/{{this._id}}/edit">
  <button type="submit">Edit </button>

</form>